body{
    margin: 0px;
    padding:0px;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.slider{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-1-img{
    background-image: url(../images/Slider1.jpg);
}
.slider-2-img{
    background-image: url(../images/Slider2.jpg);
}
.slider-3-img{
    background-image: url(../images/Slider3.jpg);
}
.slider-4-img{
    background-image: url(../images/Slider4.jpg);
}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    padding: 50px;

}
.slider-text span{
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
}
.slider-text strong{
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0px;
}
.slider-btn{
    background-color:rgb(155, 75, 75);
    padding: 10px 30px;
    margin-right: auto;
    color:#ffffff;
}
.slider-text font{
    color:rgb(155, 75, 75)
}
